{% extends "base.html" %}
{% load static%}
{% load concat_strings %}

{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}{{page.title}}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CalTech Initiative for Students</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="page-type-home">
  <div class="icon-sprite" role="presentation">
    <?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <symbol viewBox="0 0 90 90" id="career" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M58.7 40.3c0 .3-.1.6-.3.8-.2.2-.5.3-.8.3h-4.3c-.3 0-.6-.1-.8-.3-.2-.2-.3-.5-.3-.8 0-.3.1-.6.3-.8.2-.2.5-.3.8-.3h1.1v-6.5h-1.1c-.3 0-.6-.1-.8-.3-.2-.2-.3-.5-.3-.8s.1-.6.3-.8c.2-.2.5-.3.8-.3h2.2c.3 0 .6.1.8.3.2.2.3.4.3.7v7.7h1.1c.3 0 .6.1.8.3.1.3.2.5.2.8zm-4.8-13c0-.9.7-1.6 1.6-1.6s1.6.7 1.6 1.6c0 .9-.7 1.6-1.6 1.6s-1.6-.7-1.6-1.6zm15.9-5.5H39.9v16.4c1.9 1.7 3 4.3 3 7.2v.6h6.4v6l6.4-6h14.1V21.8zM39.6 50.7c1.2-1.4 1.9-3.3 1.9-5.3 0-4.2-3-7.7-6.7-7.7s-6.7 3.5-6.7 7.7c0 2.1.7 4 1.9 5.3-5.5 2.3-9.2 7.6-9.2 11.3 0 1.2.5 3 3 4.3 2.5 1.3 6 1.8 11 1.8s8.7-.6 11-1.8c2.5-1.3 3-3.1 3-4.3 0-3.8-3.6-9-9.2-11.3z" />
      </symbol>
      <symbol id="close-x" viewBox="0 0 16 16" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <style>
          .bst0 {
            fill-rule: evenodd;
            clip-rule: evenodd
          }
        </style>
        <path class="bst0"
          d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 14.2c-3.4 0-6.2-2.8-6.2-6.2 0-3.4 2.8-6.2 6.2-6.2s6.2 2.8 6.2 6.2c0 3.4-2.8 6.2-6.2 6.2z" />
        <path class="bst0"
          d="M11 5c-.3-.3-.9-.3-1.3 0L8 6.7 6.3 5c-.4-.3-1-.3-1.3 0-.3.3-.3.9 0 1.3L6.7 8 5 9.7c-.3.3-.3.9 0 1.3.3.3.9.3 1.3 0L8 9.3 9.7 11c.3.3.9.3 1.3 0 .3-.3.3-.9 0-1.3L9.3 8 11 6.3c.3-.4.3-1 0-1.3z" />
      </symbol>
      <symbol viewBox="0 0 90 90" id="cocurricular" xmlns="http://www.w3.org/2000/svg">
        <path d="M45 18.7l8 16.2 17.9 2.6-13 12.7L61 68l-16-8.4L29 68l3.1-17.8-13-12.6L37 34.9l8-16.2z" />
      </symbol>
      <symbol viewBox="0 0 90 90" id="fellowships" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M63.5 25.5h5V25c0-.7-.3-1.3-.7-1.8-.5-.5-1.1-.7-1.8-.7s-1.3.3-1.8.7c-.4.5-.7 1.1-.7 1.8v.5zm-42 39v.5c0 .7.3 1.3.7 1.8.5.5 1.1.7 1.8.7h29.1c-.4-.8-.6-1.6-.6-2.5v-.5h-31z" />
        <path
          d="M32 21c-1.6 0-3.1.6-4.2 1.8-1.1 1.1-1.8 2.7-1.8 4.2v36h28v2c0 1.1.4 2.1 1.2 2.8.8.8 1.8 1.2 2.8 1.2 1.1 0 2.1-.4 2.8-1.2C61.6 67 62 66 62 65V25c0-1.1.4-2.1 1.2-2.8C64 21.4 65 21 66 21H32z" />
      </symbol>
      <symbol viewBox="0 0 90 90" id="health" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M70.7 33.6c-.7-1.7-1.8-3.3-3.1-4.7-1.3-1.3-2.9-2.4-4.7-3.1-1.7-.7-3.6-1.1-5.5-1.1-4.5 0-9.6 2.1-12.3 5.3-2.7-3.2-7.8-5.3-12.4-5.3-3.8 0-7.5 1.5-10.2 4.2-2.7 2.7-4.2 6.4-4.2 10.2 0 13.5 22.3 27.5 26.2 29.9.2.1.4.2.6.2.2 0 .4-.1.6-.2 3.9-2.3 26.2-16.3 26.2-29.9-.1-1.8-.5-3.7-1.2-5.5zM53.5 49h-5.2v5.2h-6.6V49h-5.2v-6.6h5.2v-5.2h6.6v5.2h5.2V49z" />
      </symbol>
      <symbol viewBox="0 0 90 90" id="scholarship" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M45.6 41.7c5.1-.1 10.1.6 15 2.2V36c-3.6-1.5-9.1-2.4-15-2.4s-11.4.9-14.9 2.4v7.9c4.8-1.6 9.9-2.3 14.9-2.2z" />
        <path
          d="M75.8 30.1L45.7 21l-30.1 9.1L29.2 35c10.6-4 22.3-4 33 0l5.6-2v8.7h2v-9.4l6-2.2zM46 69.5c6.7 0 12.2-5.5 12.2-12.2 0-6.7-5.5-12.2-12.2-12.2-6.7 0-12.2 5.5-12.2 12.2.1 6.7 5.5 12.2 12.2 12.2z" />
      </symbol>
    </svg>
  </div>
  <header class="site-header"><a class="site-header__branding" href="/">Initiative for Students | Caltech</a>
    <div class="site-header__menu">
      <button class="site-header__menu-toggle js-nav-toggle" aria-label="Toggle Menu Visibility"><span></span></button>
      <nav class="site-header__nav" role="navigation" aria-label="Primary Navigation">
        <ul class="site-header__nav-list">
          <li class="site-header__nav-list-item"><a class="site-header__nav-list-link" href="/story-listings">Stories of
              Impact</a>
          </li>
          <li class="site-header__nav-list-item"><a class="site-header__nav-list-link" href="/faq">About the
              Campaign</a>
          </li>
          <li class="site-header__nav-list-item"><a class="site-header__nav-list-link" href="tel:646-395-4863">Call
              (646) 395-4863</a></li>
        </ul><a class="site-header__nav-list-button" href="#">Make a Gift</a>
      </nav>
    </div>
  </header>
  <main id="maincontent">
    <!-- Add page hero  -->
    {% if page.get_funds %}
    {% for funds in page.get_funds %}

    <section class="component progress-hero">
      <div class="component__background" role="presentation"></div>
      <div class="component__content">
        <div class="progress-hero__content">
          <div class="progress-hero__copy">
            <h1 class="progress-hero__headline">{{funds.hero_headline}}</h1>
            <p class="progress-hero__copy">{{funds.hero_copy}}</p>

            <!-- add cta to home -->
            {% if heros %}
            {{heros.cta_hero}}
            {% endif %}
          </div>
        </div>
          {% if funds.show_progress_bar == 'Yes'%}
        <div class="progress-cta js-trigger">
          <div class="progress-cta__progress">
            <p class="progress-cta__funded-dollars"><strong>${{funds.initial_amt}}</strong> of ${{funds.initial_amt}}
              funded</p>
            <p class="progress-cta__funded-percent">{{funds.percentage}}%</p>
            <div class="progress-cta__bar" style="--progress:{{funds.percentage}}%" role="presentation"></div>
            <!--
            {% if heros %}
              {{heros.progress_cta}}
            {% endif %} -->


          </div>
        </div>

          {%endif%}

      </div>
    </section>
    {%endfor%}
    {%endif%}

    <!-- add pillars page  -->
    {% if self.get_all_pillars %}
    <section class="component tab-slider">
      <div class="component__background" role="presentation"></div>
      <div class="component__content">
        <div class="tab-slider__cards js-tab-slider">
          {% for pillar in self.get_all_pillars %}
          {% with pillar=pillar.specific %}
          {% image pillar.featured_image original as banner %}

          <div class="tab-slider__card {% if pillar %}is-active {%endif%}">
            <button class="tab-slider__card-label">
              <div class="tab-slider__card-icon" role="presentation">
                <svg>
                  <use xlink:href="#scholarship"></use>
                </svg>
              </div>
              <h1 class="tab-slider__card-headline">{{pillar.title}}</h1>
              <p class="tab-slider__card-stats">$XXX,XXX raised<br>XX% to goal</p>
            </button>
            <div class="tab-slider__card-content">
              <div class="tab-slider__card-image-wrap">
                <div class="tab-slider__card-image"><img src="{{banner.url}}" alt="Students studying">
                </div>
              </div>
              <div class="tab-slider__card-rte">
                <h2 class="tab-slider__card-subhead">{{pillar.title}}:</h2>
                <p>{{pillar.summary}}</p>
                <!-- "http://localhost:8080/webtop/drl/objectId/'"+object_id+"' -->
                <ul>
                  <li><a href="{% pageurl pillar %}">More information</a></li>

                  <li><a href="/story-listings/?tags=">Stories about {{pillar.title}}</a></li>
                  <li><a href="">Give now</a></li>
                </ul>
              </div>
            </div>
          </div>
          {%endwith%}
          {%endfor%}

        </div>
      </div>
    </section>

    {%endif%}

    {% for st in self.get_short_story %}
    {% with st=st.specific %}
    {% image st.mobile_image original as mobile_banner %}
    {% image st.desktop_image original as desktop_banner %}
    <section class="component image-cta">
      <div class="component__background">
        <picture class="image-cta__picture">
          <source srcset="{{desktop_banner.url}}" media="(min-width: 768px)"><img src="{{mobile_banner.url}}"
            alt="People playing chess.">
        </picture>
      </div>
      <div class="component__content">
        <div class="image-cta__content">
          <div class="image-cta__content-wrap">
            <h1 class="image-cta__headline">{{st.title}}</h1>
            <p class="image-cta__copy">{{st.summary}}</p>
          </div>
        </div>
      </div>
    </section>


    {%endwith%}
    {%endfor%}


    <section class="component stats">
      <div class="component__background" role="presentation"></div>
      <div class="component__content">
        <div class="stats__info">
          <h1 class="stats__headline">By the numbers</h1>
          <p class="stats__copy">Caltech is advancing an environment that unlocks students' greatest capabilities to
            conduct groundbreaking research and solve the world's most complex problems.</p><a class="stats__cta"
            href="#">Make an Impact</a>
        </div>

        <!-- add svg -->

        <div class="stats__stats js-stat-slider">
          {% for svg in self.get_svg %}
          {% with svg=svg.specific %}
          <div class="stats__stat"><img class="stats__stat-graphic" src="{{svg.svg_image.url}}"
              alt="A donut chart displaying 50%">
            <p class="stats__stat-copy">{{svg.title}}</p>
          </div>
          {%endwith%}
          {%endfor%}

        </div>


      </div>
    </section>

    <!-- add Stories of imapact to homepage -->

    <section class="component cards-cta js-trigger">
      <div class="component__background" role="presentation"></div>
      <div class="component__content">
        <h1 class="cards-cta__headline">Stories of Impact</h1>

        <div class="cards-cta__cards js-news-slider">

          <!-- Add first featured page -->
          {% for fp in fp_info %}
          {% with fp=fp.specific %}
          {% image fp.featured_image fill-750x420 as banner %}

          <a class="image-card" href="{% pageurl fp %}">
            <figure class="image-card__img"><img src="{{ banner.url}}" alt="Alt text">
            </figure>
            <div class="image-card__content">
              <p class="image-card__tags">{{fp.display_tags}}</p>
              <h1 class="image-card__headline">{{fp.title}}</h1>
              <p class="image-card__copy">{{fp.summary}}</p>
              <div class="image-card__cta">Learn More</div>
            </div>
          </a>
          {%endwith%}
          {%endfor%}


          <!-- Add second featured page -->
          {% for fp in fp_info2 %}
          {% with fp=fp.specific %}
          {% image fp.featured_image fill-750x420 as banner %}

          <a class="image-card" href="{% pageurl fp %}">
            <figure class="image-card__img"><img src="{{ banner.url}}" alt="Alt text">
            </figure>
            <div class="image-card__content">
              <p class="image-card__tags">{{fp.display_tags}}</p>
              <h1 class="image-card__headline">{{fp.title}}</h1>
              <p class="image-card__copy">{{fp.summary}}</p>
              <div class="image-card__cta">Learn More</div>
            </div>
          </a>
          {%endwith%}
          {%endfor%}


          <!-- Add Last featured page -->
          {% for fp in fp_info3 %}
          {% with fp=fp.specific %}
          {% image fp.featured_image fill-750x420 as banner %}

          <a class="image-card" href="{% pageurl fp %}">
            <figure class="image-card__img"><img src="{{banner.url}}" alt="Alt text">
            </figure>
            <div class="image-card__content">
              <p class="image-card__tags">{{fp.display_tags}}</p>
              <h1 class="image-card__headline">{{fp.title}}</h1>
              <p class="image-card__copy">{{fp.summary}}</p>
              <div class="image-card__cta">Learn More</div>
            </div>
          </a>
          {%endwith%}
          {%endfor%}

        </div><a class="cards-cta__cta" href="/story-listings">View All Stories</a>
      </div>
    </section>

    <section class="component form-cta">
      <div class="component__background" role="presentation"></div>
      <div class="component__content">
        <h1 class="form-cta__headline">Let us know what the Caltech Student Experience means to you.</h1>
        <form class="form" action="" id="signup-form">
          <div class="form__input-wrapper form__input--firstname">
            <input class="form__input" type="text" name="firstname" placeholder="First Name" required>
            <label class="form__label" for="firstname">First Name</label>
          </div>
          <div class="form__input-wrapper form__input--lastname">
            <input class="form__input" type="text" name="lastname" placeholder="Last Name" required>
            <label class="form__label" for="lastname">Last Name</label>
          </div>
          <div class="form__input-wrapper form__input--email">
            <input class="form__input" type="email" name="email" placeholder="Email" required>
            <label class="form__label" for="email">Email</label>
          </div>
          <div class="form__input-wrapper form__input--message">
            <textarea class="form__input form__input--textarea" name="message"
              placeholder="What the Student Experience means to me*"></textarea>
            <div class="form__notice">*optional</div>
          </div>
          <button class="form__input--submit" type="submit" form="signup-form">Submit</button>
        </form>
      </div>
    </section>
  </main>
  <footer class="component site-footer">
    <div class="component__content">
      <div class="site-footer__info">
        <h1 class="site-footer__logo">Caltech</h1>
        <p class="site-footer__address">California Institute of Technology<br>1200 East California
          Boulevard<br>Pasadena, California 91125</p>
        <p class="site-footer__copyright">©2022 California Institute of Technology</p>
      </div>
      <h1 class="site-footer__contacts-head">Contact</h1>
      <div class="site-footer__contacts">
        <ul class="site-footer__contact-list">
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">Undergrad Scholarships</h2><a class="site-footer__contact-email"
              href="mailto:give.scholarships@caltech.edu">give.scholarships@caltech.edu</a>
          </li>
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">Graduate Fellowships</h2><a class="site-footer__contact-email"
              href="mailto:give.fellowships@caltech.edu">give.fellowships@caltech.edu</a>
          </li>
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">Health & Wellness</h2><a class="site-footer__contact-email"
              href="mailto:give.wellness@caltech.edu">give.wellness@caltech.edu</a>
          </li>
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">Career Advising</h2><a class="site-footer__contact-email"
              href="mailto:give.advising@caltech.edu">give.advising@caltech.edu</a>
          </li>
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">Co-Curricular Experience</h2><a class="site-footer__contact-email"
              href="mailto:give.experience@caltech.edu">give.experience@caltech.edu</a>
          </li>
          <li class="site-footer__contact-item">
            <h2 class="site-footer__contact-head">General Inquiries</h2><a class="site-footer__contact-email"
              href="mailto:give@caltech.edu">give@caltech.edu</a><a class="site-footer__contact-email"
              href="tel:626-395-4863">(626) 395-4863</a>
          </li>
        </ul>
      </div>
      <nav class="site-footer__nav" role="navigation" aria-label="Secondary Navigation">
        <ul class="site-footer__nav-list">
          <li class="site-footer__nav-list-item"><a class="site-footer__nav-list-link" href="#">About the Campaign</a>
          </li>
          <li class="site-footer__nav-list-item"><a class="site-footer__nav-list-link" href="#">Make a Gift</a></li>
          <li class="site-footer__nav-list-item"><a class="site-footer__nav-list-link" href="#">Privacy Statement</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
<script src="{% static 'js/vendors~mains.js' %}" type="text/javascript"></script>
<script src="{% static 'js/mains.js' %}" type="text/javascript"></script>

</html>

{%endblock%}